.hero {
    position: relative;

}

.hero h4 {
    font-weight: 100;
    letter-spacing: 2px;
}

/* .hero h1 {
    font-size: 50px;
    font-weight: bold;
} */

.hero h1 span {
    color: #ff014f;
}

.hero h2 span {
    font-size: 50px;
    font-weight: bold;
    color: #ff014f;
}

.hero h2 span {
    font-size: 40px;
    font-weight: bold;
    color: #ff014f;
}

.hero p {
    color: #878e99;
    font-size: 18px;

}

/* .hero_btn {
    margin-top: 10%;
    margin-right: 20px;
} */

.hero_btn h4 {
    font-weight: 500;
    letter-spacing: 2px;
    color: #43474b;
    font-size: 15px;
    margin: 10px 10px;
}

.hero_btn button {
    margin-right: 30px;
}

.hero_btn i {
    font-size: 20px;
}

.hero_btn button img {
    width: 20px;
    height: 20px;
}

.hero .left {
    margin-right: 10%;
}

.hero .right {
    width: 40%;
    position: relative;
}

.hero .right_img {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    border-radius: 10px;
    height: 337px;
    width: 100%;
    margin-top: 90px;
}

.hero .right_img img {
    position: absolute;
    top: 0;
    margin-top: -70px;

    width: 100%;
}

@media (max-width: 425px) {

    .hero h1,
    h2 {
        font-size: 30px;
        font-weight: bold;
    }

    .hero p {
        color: #878e99;
        font-size: 15px;

    }

    .hero .right,
    .hero .left {
        width: 100%;
        margin-left: 20px;
    }

    .hero .f_flex {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .hero .right_img {
        width: 95%;
        height: 272px;
    }
}